@chassis init;
@chassis include anchor buttons form-controls;

.author-color-picker.demo {
  & .theme {
    @chassis apply inline-block margin-bottom;
  }

  & .picker {
    padding: 0 var(--inline-block-padding-y) var(--inline-block-padding-y);
    background: var(--grey-n00);
    border: 1px solid var(--grey-n02);
    border-radius: .236em;

    & .swatches {
      display: flex;
      align-items: center;
      @chassis apply inline-block padding;

      & .swatch {
        display: flex;
        align-items: center;
        margin-right: 2em;

        & .label {
          margin-right: var(--inline-block-padding-x);
        }
      }

      & .color {
        height: 2em;
        width: 2em;
        background: white;
        border: 2px solid black;
      }
    }

    & author-color-picker {
      border: 2px solid var(--grey-n08);
      cursor: crosshair;

      & .target {
        transform: translate(-50%, -50%);

        height: 1em;
        width: 1em;
        background: transparent;
        box-shadow:
          inset 0 0 0 1px black,
          inset 0 0 0 2px color-mod(white, a(61.8%)),
          0 0 0 1px color-mod(white, a(61.8%))
        ;
        border-radius: 50%;
      }
    }
  }

  & pre {
    @chassis apply inline-block margin-bottom padding;
    background: var(--grey-n00);

    & code {
      @chassis font-size small;
    }
  }

  & ul {
    list-style: disc;
    @chassis apply inline-block margin-bottom;

    & li {
      margin-left: 1em;
    }
  }

  & .theme {
    @chassis font-size small;
  }

  & > header {
    padding: 1.46em 0 .90169942em;
    border-bottom: 4px solid var(--header-border-color);

    & h1 {
      flex: 1 1 auto;
      margin: 0 1em 0 0;
      @chassis font-size large;
    }

    & .links {
      display: flex;
      align-items: center;

      & a {
        margin-left: 1em;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    @chassis viewport-width from medium {
      padding-top: 2.36em;

      & .width.constraint {
        display: flex;
      }
    }
  }

  & main {
    @chassis constrain-width;
    padding-bottom: 3.618em;

    & > * {
      padding-top: 3.82em;
    }
  }

  &[data-theme="dark"] {
    background: var(--grey-n10);
    color: white;
  }
}
