:host {
  contain: content;
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host .wrapper {
  position: relative;
  /* flex: 1;
  display: flex;
  flex-direction: column; */
}

:host canvas {
  /* flex: 1; */
  display: block;
  width: 100%;
  height: 100%;
}

:host ::slotted(*) {
  position: absolute;
  z-index: 1;
}
